body{
    
    background-color: rgb(189, 62, 3);
    text-align: center ;
}
.alligned{
    align-items : center;
    display: inline-block;
    text-align: left;
    background-color: rgb(128, 43, 3);
    color:white
}
.URL{
    text-align: center;
    align-items: center;

}
.survey{
    text-align: left;
    color : white
}
